body{
    display: flex;
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.box1{
    flex-shrink: 5;
}
.box{
    height: 200px;
    width: 200px;
    background-color: rgb(54, 54, 196);
}