.rg {
    color: rebeccapurple;
}

.sg,
.pg {
    color: yellowgreen;
    background-color: aquamarine;
}

.modi {
    font-weight: 600;
    color: yellow;
    background-color: blueviolet;
}

.amit {
    background-color: yellow;
}